#products ul {
    position: relative;
}

#products li {
    list-style: none;
    border: 1px solid black;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    float: left;
    margin: 10px;
}

#products h3 {
    font-size: 16px;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5px;
    margin-top: 5px;
}

#products img {
    width: 90%;
    height: 100px;
}

#products .price {
    font-size: 12px;
    text-align: right;
    margin-right: 5%;
}

#products span.sale {
    color: green;
}

#products span.price {
    color: green;
}

#products span.price+span {
    color: red;
    text-decoration: line-through;
}

#products div {
    height: 20px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

#products div p {
    font-size: 10px;
    height: 40px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px;
}

#products button {
    margin: 5px auto;
    display: block;
}