ul {
    position: relative;
    overflow: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

li {
    list-style: none;
    border: 1px solid black;
    width: 140px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px #333;
    background: #fff;
}

h3 {
    font-size: 16px;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 5px;
    margin-top: 5px;
}

li img {
    max-width: 90%;
    height: 90px;
    display: block;
    margin: 0 auto;
    padding: 0 5%;
    clear: both;
}

h2 {
    font-size: 36px;
}

p {
    line-height: 22px;
}